.container {
  overflow: hidden;
}
.container #path-menu {
  position: absolute;
  top: 25px;
  left: 15px;
  max-height: 15vh;
  min-height: 15vh;
}
.container #path-menu .path {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.container #path-menu .path a#active li {
  border-bottom: 2px solid rgba(40, 40, 40, 0.9294117647);
}
.container #path-menu .path li {
  padding: 2px 0;
  transition: 0.2s ease-out;
}
.container #path-menu .path li:hover {
  border-bottom: 2px solid rgba(40, 40, 40, 0.9294117647);
}

.space-view {
  position: relative;
  width: 90%;
  min-width: 80%;
  height: 100%;
  min-height: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 1.8rem 1.5rem;
}
.space-view .header-menu {
  width: 100%;
  min-width: 90%;
  max-height: 13%;
  min-height: 13%;
  padding-left: 25px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.8rem;
  box-shadow: 0 0 10px 5px rgba(220, 219, 219, 0.5882352941);
}
.space-view .header-menu h2 {
  font-family: "Sarabun", sans-serif;
  font-size: 2rem;
  color: rgba(40, 40, 40, 0.9294117647);
}
.space-view .header-menu #new-add i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: 1.6rem;
  color: rgba(40, 40, 40, 0.9294117647);
  cursor: pointer;
}
.space-view .space-view {
  width: 100%;
  min-width: 90%;
  height: 100%;
  min-height: 85%;
  overflow-y: scroll;
}
.space-view .space-view .card-view {
  width: 90%;
  min-width: 80%;
  max-height: 15%;
  min-height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0 15px;
  border-radius: 7px;
  box-shadow: 0 0 2px 2px rgba(220, 219, 219, 0.5882352941);
}
.space-view .space-view .card-view #icon-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.85rem;
}
.space-view .space-view .card-view .menu-context i {
  font-size: 1.4rem;
  cursor: pointer;
}
.space-view .space-view .card-view .menu-context #icon-del {
  color: rgb(218, 51, 36);
}

.modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.58);
  display: none;
}
.modal #form {
  position: relative;
  min-width: 40%;
  min-width: 40%;
}
.modal #form #msg {
  font-size: 1.3rem;
}
.modal #form #close {
  position: absolute;
  top: 10px;
  right: 1rem;
  font-size: 1.8rem;
  color: rgba(40, 40, 40, 0.9294117647);
  cursor: pointer;
}

#form.menu-choice {
  padding-top: 5px !important;
  flex-direction: row;
}

/* Para navegadores baseados em Webkit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 6px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.609); /* Cor do "polegar" da barra de rolagem */
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Cor do fundo da barra de rolagem */
}/*# sourceMappingURL=style-view.css.map */